@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap') * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {

    background-color: #6495ED;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #A9A9A9;
    color: #000;
    text-align: center;
}